@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(227, 5%, 0%);
  --card: hsl(227, 50%, 90%);
  --card-foreground: hsl(227, 5%, 10%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(227, 100%, 0%);
  --primary: hsl(227, 87%, 58%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary: hsl(227, 30%, 70%);
  --secondary-foreground: hsl(0, 0%, 0%);
  --muted: hsl(189, 30%, 85%);
  --muted-foreground: hsl(227, 5%, 35%);
  --accent: hsl(189, 30%, 80%);
  --accent-foreground: hsl(227, 5%, 10%);
  --destructive: hsl(0 84.2% 60.2%);
  --border: hsl(0, 0%, 79%);
  --input: hsl(227, 30%, 18%);
  --ring: hsl(227, 87%, 58%);
  --chart-1: 221.2 83.2% 53.3%;
  --chart-2: 212 95% 68%;
  --chart-3: 216 92% 60%;
  --chart-4: 210 98% 78%;
  --chart-5: 212 97% 87%;
  --radius: 0.6rem;
  /* Scalar Colors */
  --primary-100: hsl(227, 100%, 67%);
  --primary-200: hsl(227, 77%, 50%);
  --secondary-500: hsl(0, 0%, 79%);
  --hovering: hsl(210, 37%, 93%);
  --text-link: hsl(207, 100%, 55%);
  --text-primary-100: hsl(0, 0%, 26%);
  --text-primary-500: hsl(0, 0%, 13%);
  --text-grey-100: hsl(0, 0%, 89%);
  --pending: hsl(46, 100%, 55%);
  --success: hsl(142, 69%, 55%);
  --fail: hsl(3, 100%, 71%);
  --executing: hsl(88, 75%, 58%);
  --background-secondary: hsl(227, 100%, 98%);
}

.dark {
  --background: hsl(227, 50%, 5%);
  --foreground: hsl(227, 5%, 90%);
  --card: hsl(227, 50%, 0%);
  --card-foreground: hsl(227, 5%, 90%);
  --popover: hsl(227, 50%, 5%);
  --popover-foreground: hsl(227, 5%, 90%);
  --primary: hsl(227, 86.8%, 58.4%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary: hsl(227, 30%, 10%);
  --secondary-foreground: hsl(0, 0%, 100%);
  --muted: hsl(189, 30%, 15%);
  --muted-foreground: hsl(227, 5%, 60%);
  --accent: hsl(189, 30%, 15%);
  --accent-foreground: hsl(227, 5%, 90%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(227, 30%, 18%);
  --input: hsl(227, 30%, 18%);
  --ring: hsl(227, 86.8%, 58.4%);
  --chart-1: 221.2 83.2% 53.3%;
  --chart-2: 212 95% 68%;
  --chart-3: 216 92% 60%;
  --chart-4: 210 98% 78%;
  --chart-5: 212 97% 87%;
  /* Scalar Colors */
  --primary-100: hsl(227, 100%, 67%);
  --primary-200: hsl(227, 77%, 50%);
  --secondary-500: hsl(0, 0%, 79%);
  --hovering: hsla(260, 100%, 78%, 0.2);
  --text-link: hsl(207, 100%, 55%);
  --text-primary-100: hsl(0, 0%, 26%);
  --text-primary-500: hsl(0, 0%, 13%);
  --text-grey-100: hsl(0, 0%, 89%);
  --pending: hsl(46, 100%, 55%);
  --success: hsl(142, 69%, 55%);
  --fail: hsl(3, 100%, 71%);
  --executing: hsl(88, 75%, 58%);
  --background-secondary: hsl(227, 100%, 98%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  /* Scalar Colors */
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-secondary-500: var(--secondary-500);
  --color-hovering: var(--hovering);
  --color-text-link: var(--text-link);
  --color-text-primary-100: var(--text-primary-100);
  --color-text-primary-500: var(--text-primary-500);
  --color-pending: var(--pending);
  --color-success: var(--success);
  --color-fail: var(--fail);
  --color-executing: var(--executing);
  --color-background-secondary: var(--background-secondary);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@utility container {
  padding-inline: 1.2rem;
  margin-inline: auto;
  max-width: 90rem;

  @variant lg {
    padding-inline: 2rem;
  }
}

@layer components {
  .table-left-shadow {
    @apply before:pointer-events-none before:absolute before:bottom-0 before:top-0 before:z-30 before:w-12 before:content-[""] before:[box-shadow:inset_10px_0_8px_-8px_rgba(5,5,5,0.2)];
  }

  .table-right-shadow {
    @apply after:pointer-events-none after:absolute after:bottom-0 after:right-0 after:top-0 after:z-30 after:w-12 after:content-[""] after:[box-shadow:inset_-10px_0_8px_-8px_rgba(5,5,5,0.2)];
  }

  .main-shadow {
    @apply shadow-[0px_1px_2px_0px_#00000040];
  }

  .main-shadow-inset {
    @apply shadow-[0px_1px_2px_0px_#00000040_inset];
  }

  .main-card-shadow {
    @apply shadow-[0px_1px_4px_0px_#00000040];
  }
}
